spring:
  cloud:
    gateway:
      routes:
      - id: clients
        uri: http://localhost:8081/
        predicates:
        - Path=/clients/**
      - id: catalog
        uri: http://localhost:8082/
        predicates:
          - Path=/catalog/**
      - id: storage
        uri: http://localhost:8083/
        predicates:
          - Path=/storage/**
      - id: documents
        uri: http://localhost:8084/
        predicates:
          - Path=/documents/**